.record-title{
    font-size: 16px;
    font-weight: bolder;
    margin: 20px;
 text-align:center;
  }
  .record-description{
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0px;
text-align:center;
  }
  .record-button{
    background-color: #12988a;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0px auto;
    display: block;
    cursor: pointer;
  }
  .record-button-main{
    cursor: pointer;
  }
  .modal-body{
      text-align: center !important;
  }


.pipeBtn {
text-align: center !important;
display: block;
width: 100%;
justify-content: center;
}

.pipeBtn svg circle:first-child{
/* fill:green !important; */
animation: createBox .80s;
animation-iteration-count: unset;
transform-origin: center;
animation-duration: 3s;
stroke:#fff;
}

.pipeBtn svg circle:nth-of-type(2){
stroke:red !important;
opacity: 0.4;
}
.pipeBtn svg{
width: 80px !important;
height: auto;
}
.pipeMicContainer {
display: none !important;
}

.pipeAudioMenuVisualizer{
    display: none !important;
}

@keyframes createBox {

0% {
transform: scale(1, 1);
}
30% {
transform: scale(0.5, 0.5);
}
60% {
transform: scale(1, 1);
}
}
.modal{
box-shadow:0px 3px 6px #C7C7C729 !important;
border:1px solid #E2E2E2 !important;
border-radius:5px !important;
padding:15px !important;
}
.textCenter{
text-align:center;
}
.textRight{
text-align:right;
}
#ex1 .close-modal{
display:none;
}
.close-modal{
background:url('https://d2kltgp8v5sml0.cloudfront.net/templates/svg/close.svg') !important;
background-repeat:no-repeat !important;
left:18px;
top:18px !important;
}

.record-description ol{
  text-align: left;
    padding: 0;
    margin: 0px auto;
    width: 240px;
    display: block;
list-style: none;
  counter-reset: my-awesome-counter;
}



.record-description ol li span{
font-weight:700;
}
.record-description ol li::before{
content: counter(my-awesome-counter);
background: #000;
width: 2rem;
height: 2rem;
border-radius: 50%;
display: inline-block;
line-height: 2rem;
color: white;
text-align: center;
margin-right: 8px;
}

.record-description ol li{counter-increment: my-awesome-counter;
margin: 10px 0px;}

.controlled-bg{
background:#F6F3E6;
height:165px;
}
.image-rec{
text-align:center;
}
.image-rec img{
width:68px;
}
.next-button{
background:transparent;
border:0px;
}
.next-button img{
margin-left:5px;
}
.pipeTimer {
background:#F56A6A;
color:#fff !important;
border-radius:2px;
box-shadow:0px 3px 6px #FFFFFF29;
padding:4px 14px 3px 15px;
line-height:24px;
top: 20px;
margin: 0px auto !important;
}

.pipeTimer-custom {
background:#F56A6A;
color:#fff !important;
border-radius:2px;
box-shadow:0px 3px 6px #FFFFFF29;
padding:4px 14px 3px 15px;
line-height:24px;
top: 20px;
margin: 0px auto !important;
left : auto !important;
  position: absolute;
margin-top: 7px;
text-align: center;
font-family: sans-serif;
font-size: 14px;

}


.pipeBtnOff{
display:none;
}
.pipeBtnOff svg{
width:80px;
height:auto;
}
.feedback li img {
margin-right: 10px;
}
.feedback {
list-style: none;
text-align: center;
padding: 0;
margin: 0px auto;
width: 250px;
display: block;
font-size: 14px;
}
.feedback li{
padding-bottom:10px;
text-align: left;
}

.error #record-title{
font-size: 21px  
}
.feedback li:before {  
  border: 0.5px solid rgba(0,0,0,0.06);
opacity: 0.6;
width: 24px;
height: 24px;
margin-right: 6px;
border-radius: 50%;
padding:2px 4px;
font-size: 12px;
color:#45E154;
}
.feedback span{
font-weight: 700;
}
.retake{
border:1px solid #000000;
background:transparent;
border-radius:5px;
color:#000;
padding:7px 10px;
}
.record-answer {
text-align:center;
}
.record-answer img{
width: 87px;
height:87px;
border-radius: 50%; 
}


.Skin .QuestionBody{
padding-bottom:0px !important;
}
.Skin .SkinInner{
padding-top: 0px;
background: #f6f3e6;
}
.Skin #Buttons{
padding-top: 0px;
}
.Skin .QuestionOuter{
padding-bottom: 0px;
}
.NextButton{
background-color: transparent !important;
color: #000 !important;
opacity: 1 !important;
}
.NextButton img{ 
margin-right:5px;
}


.retake-button img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-44%);
}
.retake-text-btn{
border: 1px solid #000000;
border-radius: 5px;
background: transparent;
color: #000 !important;
font-size: 14px !important;
padding: 5px 12px !important;
      margin:15px auto 0px; 
display:block;
}
.retake-text-btn img{
padding-right:5px;
width:17px;
height:17px;
}

.pipeBtn svg g circle:first-child{
animation-iteration-count:unset;
animation:none;
}
.retake-previous{
background: transparent;
border: 0;
display: flex;
align-items: center;
position:absolute;
bottom : 5px;
left: 10 px;
}
.retake-previous img{
width:16px;
height:24px;
margin-right: 6px;
}
.retake-previous span{
font-size: 10px;
line-height: 13px;
text-align: left;
color: #000;
opacity: 0.24;
}
.user-video-play{
position: absolute;
background: transparent;
border: 0px;
right: -5px;
top: 16px;
}
.user-video-play img{
width:46px;
height:46px;
border-radius:50%;
}

.user-video-play span{
font-size:10px;
color:#12988A;
}
.back-to-camera {
position: absolute;
/*margin: 0px 0px 9px 188px;*/
   bottom: 40px;
right: 20px;
border: 0px;
background: transparent;
display: grid;
text-align: center;

}

.back-to-camera span {
font-size: 10px;
color: #12988A;
}

.back-to-camera img {
    width: 46px;
text-align: center;
margin: 0px auto;
}
#NextButton-custom {
/* bottom: 21%;
right: 6%;
cursor: pointer;
padding: 0px !important;
*/
cursor: pointer;
padding: 0px !important;
width:100%;


}
#NextButton-custom .next-button{
display: table-cell;
text-align: right;
width: 100%;
}
.record-description span{
font-weight: bold;
}

.play-custom-btn{
bottom: 40px;
position: absolute;
right: 37px;
border: 0px;
background: transparent;
display: grid;
text-align: center;
}

.play-custom-btn img {
    width: 46px;
text-align: center;
margin: 0px auto;
}


.play-custom-btn span {
font-size: 10px;
color: #12988A;
}

/* Camera container is now visible for screen+camera recording */